.start.quiz{
    display: block;
    width: 60rem;
    height: 65rem;
    position: relative;
    & .start__blobA{ //repositon ipper blob for quiz page
        position: absolute;
        top:0;
        right: 2.8rem;
        
    }
}

.quiz{
    padding: 1rem;
    &__question{
        margin-bottom: 1rem;
    }
}
.question{
    &__desc{
        margin-bottom: 1rem;
    }
    &__options{
        display: flex;
        justify-content: center;
        gap: 5rem;
        align-items: center;
    }
}